name: Update for Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: "version that should be released"
        required: true
        type: string
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
  workflow_call:
    inputs:
      version:
        description: "version that should be released"
        required: true
        type: string
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
  repository_dispatch:
    types: [update]
defaults:
  run:
    working-directory: homebrew-mondoo
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # fetch a token for the mondoo-mergebot app
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        with:
          app-id: ${{ secrets.MONDOO_MERGEBOT_APP_ID }}
          private-key: ${{ secrets.MONDOO_MERGEBOT_APP_PRIVATE_KEY }}
          owner: mondoohq
          repositories: |
            homebrew-mondoo
      # Checkout the branch
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mondoohq/homebrew-mondoo
          token: ${{ steps.generate-token.outputs.token }}
          path: homebrew-mondoo
      # Determine which version should be released based on event type
      - name: Set Version (Workflow Dispatch)
        if: ${{ inputs.version != '' }}
        run: |
          echo VERSION=${{ inputs.version }} >> $GITHUB_ENV
      - name: Set Version (Repository Dispatch)
        if: ${{ github.event_name == 'repository_dispatch' }}
        run: |
          echo VERSION=${{ github.event.client_payload.version }} >> $GITHUB_ENV
      - name: Unified Version
        id: version
        run: |
          echo "Version: $VERSION"
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: '>=1.23.0'

      # runs go to generate the update
      - run: make update

      # Commit changes
      - name: setup git config
        run: |
          git config user.name "Mondoo Tools"
          git config user.email "<tools@mondoo.com>"

      - name: diff
        run: |
          git diff --color

      - name: commit
        if: ${{ ! inputs.skip-publish }}
        run: |
          echo '${{ steps.version.outputs.version }}'
          git add Formula/cnquery.rb
          git add Formula/cnspec.rb
          git add Casks/mondoo-cli.rb
          git add Casks/mondoo.rb
          git commit -m '${{ steps.version.outputs.version }}'
          git push origin master
